* {
  box-sizing: border-box;
  font-family: sans-serif;
  
}

body {
  background-color: rgba(13, 8, 83, 0.3);
}

main {
  width: 50%;
  margin: 5em auto;
}

#query, button {
  width: 15em;
  height: 3em;
  border-radius: 5px;
  font-weight: 620;
  font-size: 15px;
  padding-left: 15px;
}

button {
  width: 7em;
  margin: 5px;
  padding: 0;
}
  
img {
  border-radius: 10px;
}

